<h1><%= @feed.title %></h1>
<ul>
<% @enclosures.each do |enc| %>
  <li>
    <p class='episodeTitle'><a href='<%= enc.client_path %>'>
      <%= enc.title %>
      </a>
      <p class='path'>(<%= enc.client_path %>)</p>
    </p>
    <p class='metadata'>
      <% enc.metadata.each do |field, val| %>
        <%= field %>: <%= val %> |
      <% end %>
    </p>

  </li>
<% end %>
</ul>
