<h1>Your Feeds</h1>
<ul class="feeds">
  <%= current_user.feeds.each do |feed| %>
    <li><%= link_to feed.title, feed_path(feed) %></li>
  <% end %>
</ul>
<<<<<<< HEAD
</br>
<p><%= link_to "Add a new feed", new_feed_path  %></p>
<p><%= link_to "Home", root_path  %></p>
<!-- <%= link_to "see your feeds", feeds_path%> -->
=======

>>>>>>> 1b334e7c45697dd81322a6a43a9bc86a4c66705d

