<p>Hello <%= current_user.name.split(' ').first %>,</p>
<p>Welcome to Own My Stuff...</p>
</br>
<p id="link">Choose your <%= link_to "RSS feed", feeds_path %> to archive or choose from your <%= link_to "Soundcloud", 'http://www.soundcloud.com', :target => "_blank" %>, <%= link_to "Instagram", 'http://www.instagram.com',:target => "_blank" %>, or 
<%= link_to "WordPress", 'http://www.wordpress.com', :target => "_blank" %> accounts.</p>
<%= link_to "see your feeds", feeds_path%>

<%= form_for @feed, url: feeds_path do |f| %>
<label for="url">RSS: </label>
  <%= f.url_field 'url' %>
  <%= f.submit 'submit, yo' %>
<% end %>
