<p><%= link_to "home", root_path  %></p>
<p><%= link_to "see your feeds", feeds_path %></p>
</br>
<h3><%= @feed.title %></h3>
<ul class="feeds">
<% @enclosures.sort.each do |enc| %>
  <li>
    <a href='<%= enc.url %>'>
      <%= enc.client_path %>
    </a>
    server path: <%= enc.server_path %>
    <% if  enc.upload_status %>
      Status: <%= enc.upload_status %>
    <% end %>
  </li>
<% end %>
</ul>
