<div class='feed_header'>
  <h3><%= @feed.title %></h3>
  <% if @feed.directories.any? %>
    <% button_text_prefix = 're' %>
  <% end %>
    <button class='generate_directory' data-id='<%= @feed.id %>'><%= button_text_prefix %>generate directory</button>
</div>
<ul class="feeds">
<% if @enclosures.count == 0 %>
  <p><%= 'The feed appears to be empty... currently, Own Your Stuff
      accepts only RSS feeds containing podcasts in mp3 format.' %></p>
<% else %>
  <% @enclosures.each do |enc| %>
    <li>
      <a href='<%= enc.url %>'>
        <%= enc.client_path %>
      </a>
      <% if  enc.upload_status %>
        Status: <%= enc.upload_status %>
      <% end %>
    </li>
  <% end %>
<% end %>
</ul>
<p class='digg_pagination'><%= will_paginate @enclosures %></p>
