<h3><%= @feed.title %></h3>
</br>
<ul class="feeds">
<% @enclosures.each do |enc| %>
  <li>
    <a href='<%= enc.url %>'>
      <%= enc.client_path %>
    </a>
    <% if  enc.upload_status %>
      Status: <%= enc.upload_status %>
    <% end %>
  </li>
<% end %>
</ul>
<%= will_paginate @enclosures %>