
<div class="index_page">
  <div class="index_title">
    <p>Own Your Stuff!</p>
  </div>

  <div class="index_copy">
    <p>Own My Stuff is a service for locating and archiving your user created media on the web.</p>
  </div>

  <div>
  <%= image_tag("rss-icon.png", :alt => "sumshit", :width => "100", :class => "rss-icon") %>
  <%= image_tag("arrow.png", :alt => "sumshit", :width => "50", :class => "arrow-icon") %>
  <%= image_tag("dropbox.png", :alt => "sumshit2", :width => "100", :class => "dropbox-icon") %>
  <%= image_tag("arrow.png", :alt => "sumshit", :width => "50", :class => "arrow-icon") %>
  <%= image_tag("smiley-face.png", :alt => "sumshit", :width => "100", :class => "smiley-icon") %>
  </div>

  <div>
    <div class="text1">
      enter a RSS feed
    </div>
    <div class="text2">
      we upload to Dropbox
    </div>
    <div class="text3">
      you now own your stuff!
    </div>
  </div>

  </br>
  <div class="index_about">
    <%= link_to "about our project", about_path %>
  </div>
</div>  